<h5 class ="page_header">Welcome, <%= @user.username %></h5>


<div class="row">
  <h5 class="dash_div_header">Books recently added to your Collection</h5>
  <% @user_ten_recent.each do |book| %>

  <div class="row dash">
    <div class="col s4">
      <div class="row">
        <div class="col s3">
          <%= image_tag book.img_url, class: 'dash_img_thumb' %><br>
        </div>
    <div class="col s9 ">
      <%= link_to "#{book.title}", book_path(book) %><br>
      Series: <%= book.series.name %><br>
      Issue #:<%= book.issue_number %><br>
    </div>
  </div>
</div>
<% end %>
</div>
</div>

<div class="row">
  <h5 class="dash_div_header">Books Recently added to Database</h5>
  <% @database_ten_recent.each do |book| %>

  <div class="row dash">
    <div class="col s4">
      <div class="row">
        <div class="col s3">
          <%= image_tag book.img_url, class: 'dash_img_thumb' %><br>
        </div>
        <div class="col s9">
          <%= link_to "#{book.title}", book_path(book) %><br>
          <%= book.series.name %><br>
          <%= book.issue_number %><br>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
