<h5 class ="page_header">Login</h5>

<div class="row">
  <div class="col s2"></div>
  <div class="col s3">
    <h3>Login to your Collection</h3>

    <%= form_for(:session, url: login_path) do |f|%>
    <%= f.label :username %><br>
    <%= f.text_field :username %><br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br>

    <%= f.submit "Login" %>

    <% end %>
  </div>
  <div class="col s3">
    <h3>Don't have an account yet?</h3>
    <h5>  <%= link_to "Click Here to Register", new_user_path %></h5>
    <a href="<%= new_user_path %>"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/6478-200.png" alt="Login"></a>
  </div>

</div>
