<h3 class="page_header">All Books in <%= current_user.username %>'s Collection</h3>

<% if current_user.books.present? %>
<h3>HERE ARE YOUR BOOKS</h3>
<% @books.each do |book| %>
<div class="col s4">
  <div class="book_preview">
    <%= link_to book.title, book_path(book) %><br>

    Brand: <small> <%= book.brand.name %> </small><br>
    Series:<small> <%= book.series.name %><br> </small>
    Issue: <%= book.issue_number %><br>
    <%= image_tag book.img_url, :class => "img_preview" %><br>
  </div>
</div>
<% end %>
<% else %>
<h1>Add Some Books to your Collection</h1>
<%= link_to "See all Books in Library", books_path %>
<% end %>
